In [4]:
import pandas as pd
data = pd.read_csv("Ex_CEOSalary.csv")

In [5]:
data.head()

   salary         sales   roe  industry
0    1095  27595.000000  14.1         1
1    1001   9958.000000  10.9         1
2    1122   6125.899902  23.5         1
3     578  16246.000000   5.9         1
4    1368  21783.199219  13.8         1

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   salary    209 non-null    int64
 1   sales     209 non-null    float64
 2   roe       209 non-null    float64
 3   industry  209 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 6.7 KB

## 1. 범주형 자료의 탐색